<!DOCTYPE html>
<html lang="en">
  <head>
  	<title>SQL Blockchain</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="https://localhost:3000/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
    <link rel="icon" href="images/favicon/favicon-32x32.png" sizes="32x32">
    <!--  Android 5 Chrome Color-->
    <meta name="theme-color" content="#EE6E73">
    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Material Design for Bootstrap CSS-->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script src="https://localhost:3000/ace-builds-master/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
    <script type="text/javascript" src="https://twitter.github.io/typeahead.js/js/handlebars.js"></script>
<style>
    #query_editor {
      position: relative;
      width: 1750px;
      height: 250px;
    }
.typeahead {
    z-index: 10;
}

/*If using icon span before input, like <i class="fa fa-asterisk prefix"></i>*/
span.twitter-typeahead {
    width: calc(100%);
    margin-left: 0rem;
}
/* Aspect of the dropdown of results*/

/*Aspect of results, done*/
span.twitter-typeahead .tt-suggestion {
    color: #4285F4;
    cursor: pointer;
    padding: 1rem;
    text-transform: capitalize;
    font-weight: 400;
}

.dropdown-menu, span.twitter-typeahead .tt-menu {
  min-width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 1rem;
  color: #8c8c8c;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  border-radius:  0.35rem; }

span.twitter-typeahead .tt-suggestion {
  display: block;
  width: 100%;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.5;
  color: #00cc66;
  text-align: inherit;
  white-space: nowrap;
  background: none;
  border: none; }
span.twitter-typeahead .tt-suggestion:focus, .dropdown-item:hover, span.twitter-typeahead .tt-suggestion:hover {
    color: #00cc66;
    text-decoration: none;
    background-color: #f5f5f5; }
span.twitter-typeahead .active.tt-suggestion, span.twitter-typeahead .tt-suggestion.tt-cursor, span.twitter-typeahead .active.tt-suggestion:focus, span.twitter-typeahead .tt-suggestion.tt-cursor:focus, span.twitter-typeahead .active.tt-suggestion:hover, span.twitter-typeahead .tt-suggestion.tt-cursor:hover {
    color: #00cc66;
    text-decoration: none;
    background-color: #0275d8;
    outline: 0; }
span.twitter-typeahead .disabled.tt-suggestion, span.twitter-typeahead .disabled.tt-suggestion:focus, span.twitter-typeahead .disabled.tt-suggestion:hover {
    color: #00cc66; }
span.twitter-typeahead .disabled.tt-suggestion:focus, span.twitter-typeahead .disabled.tt-suggestion:hover {
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
    background-image: none;
    filter: "progid:DXImageTransform.Microsoft.gradient(enabled = false)"; }
span.twitter-typeahead {
  width: 100%; }
  .input-group span.twitter-typeahead {
    display: block !important; }
    .input-group span.twitter-typeahead .tt-menu {
      top: 2.375rem !important; }

.spinner{
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('https://localhost:3000/images/ajax-loader.gif') 
                50% 50% 
                no-repeat;
}

body.loading {
    overflow: hidden;   
}

body.loading .spinner {
    display: block;
}

.SuggestEngine {
  margin: 0 20px 5px 20px;
  padding: 10px 0;
}
</style>
<script type="text/javascript">
$(document).ready(function(){

$('.typeahead').on('focus', function() {
    $(this).parent().siblings().addClass('active');
}).on('blur', function() {
    if (!$(this).val()) {
        $(this).parent().siblings().removeClass('active');
    }
});

var suggestions = ['Brother', 'brother', 'mother', 'sister', 'father', 'spouse', 'Father', 'Sunny', 'Jessica', '16x Ampitheatre Road', 'Sunny Seasons Apartment', 'Kolkata', 'Karnataka', 'Jessore Road, Hyderabad', 'Sen', 'Wojksi', 'Pelman', 'Strauss', 'Ruby', 'Anand', 'Sharmesh', 'Shuvradeep','Rahul', 'Lahiri','Ravi', 'Gurmeet', 'Gurpreet', 'Anil', 'Mike', 'Manohar', 'Mohan', 'Bellaire', 'Houston', 'Michigan', 'Kernighan', 'Belmonte', '631, Hudson Bay, California', '554122365', '965244123','888544125', '885688521', '774155632', '663211452', '778511250', '784512596', '895415235', '965411523', '996521457','458566521','845233652', '695411253', '552148756', '663254125', '448596321', '996523221', '863214596', '236522145', '332541269', '152245963', '263255147', '5600000',  '13560000', '36000', '9655000', '6320040'];

var suggestions = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.whitespace,
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    local: suggestions
});
$('.typeahead').typeahead({
    highlight: true,
    hint: true,
    minLength: 1
}, {
    name: 'suggestions',
    source: suggestions,
    limit: 6,
    templates: {
      header: '<h6 class="SuggestEngine"> Trie Suggests : </h6>'
    }
  });
});

function delayload() {
  $body = $("body");
  var timeDelay = 500;
  setTimeout(DataLoad, timeDelay);
  $body.addClass("loading"); 
}
  function DataLoad(){
    $body = $("body");
    if(window.XMLHttpRequest){ 
      var xmlhttp = new XMLHttpRequest();
    }
    else{ 
      var xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
    }
    var myForm = document.getElementById("myForm");
    var form_data = new FormData(myForm);
    xmlhttp.onreadystatechange = function(){
    if (xmlhttp.readyState == 2){ $body.addClass("loading"); }
    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
        $body.removeClass("loading");
    } else {
       
      }
    }
    xmlhttp.open("GET", "https://localhost:3000/error", true);
    xmlhttp.setRequestHeader("Access-Control-Allow-Origin", "*");
    xmlhttp.send(form_data);
    $('#myForm').trigger("reset");
  }
</script>
  </head>
  <body>
  <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
  <form id="myForm" action="https://localhost:3000/formdata" method="post">
      <div class="jumbotron">
        <h1 class="display-4">Data Form</h1>
          <p class="lead">Please enter data as requested. This data will inserted into SQL server via secure connection.</p>
            <hr class="my-4">
      <label for="Employee_cred" class="text-success"><strong>Employee Information : </strong></label>
      <div class="form-row">
      <div id="First_Name" class="form-group col-md-2">
        <label for="First_Name" class="bmd-label-floating bmd-label-warning">First Name</label>
        <div><input class="form-control typeahead" type="text"  spellcheck="false" autocomplete="off" name="First_Name"></div>
        <span class="bmd-help"></span>
      </div>
      <div class="form-group col-md-2">
        <label for="Middle_init_Name" class="bmd-label-floating">Middle Initial</label>
        <input type="text" class="form-control" name="Middle_init_Name">
        <span class="bmd-help"></span>
      </div>
      <div class="form-group col-md-2">
        <label for="Last_Name" class="bmd-label-floating">Last Name</label>
        <div><input type="text" class="form-control typeahead" name="Last_Name"></div>
        <span class="bmd-help"></span>
      </div>
      <div class="form-group col-md-3">
        <label for="SSN" class="bmd-label-floating">Employee SSN</label>
        <div><input type="password" class="form-control typeahead" name="SSN"></div>
        <span class="bmd-help"></span>
      </div>
      <div class="form-group col-md-3">
        <div class="input-group mb-3">
        <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Gender : </label>
        </div>
        <select class="custom-select" name="Emp_Gender">
          <option selected>Choose...</option>
          <option value="M">Male</option>
          <option value="F">Female</option>
          <option value="S">Special</option>
        </select>
      </div>
      </div>
    </div>
    <div class="form-row">
    <div class="form-group col-md-4">
      <label for="Address" class="bmd-label-floating">Employee Address</label>
      <div><input type="text" class="form-control typeahead" name="Address"></div>
      <span class="bmd-help"></span>
    </div>
    <div class="form-group col-md-4">
        <label for="SSN" class="bmd-label-floating">Employee Salary</label>
        <div><input type="text" class="form-control typeahead" aria-label="Amount (to the nearest dollar)" name="Emp_Salary"></div>
      </div>
      <div class="form-group col-md-4">
        <label for="Bdate" class="bmd-label-floating"></label>
        <input type="date" class="form-control" name="Emp_Bdate">
      </div>
      </div>
    <label for="Dependent_information" class="text-success"><strong>Dependent Information : </strong></label>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="Dependent_name" class="bmd-label-floating bmd-label-warning">Dependent Name</label>
        <div><input type="text" class="form-control typeahead" name="Dependent_name"></div>
        <span class="bmd-help"></span>
      </div>
      <div class="form-group col-md-3">
        <label for="Relationship" class="bmd-label-floating">Relationship</label>
        <div><input type="text" class="form-control typeahead" name="Relationship"></div>
        <span class="bmd-help"></span>
      </div>
      <div class="form-group col-md-3">
        <div class="input-group mb-3">
        <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Gender : </label>
        </div>
        <select class="custom-select" name="Dependent_Gender">
          <option selected>Choose...</option>
          <option value="M">Male</option>
          <option value="F">Female</option>
          <option value="S">Special</option>
        </select>
      </div>
      </div>
      <div class="form-group col-md-3">
        <label for="Bdate" class="bmd-label-floating"></label>
        <input type="date" class="form-control" name="Dependent_Bdate">
      </div>
    </div>
      <label for="Employee_cred" class="text-success"><strong>Work Information : </strong></label>
      <div class="form-row">
      <div class="form-group col-md-4">
        <div class="input-group mb-3">
        <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Dept Name : </label>
        </div>
        <select class="custom-select" name="Dept_name">
          <option selected>Choose...</option>
          <option value="Special Admins">Special Admins</option>
          <option value="Software Engineerning">Software Engineerning</option>
          <option value="Human Resources">Human Resources</option>
          <option value="Research">Research</option>
          <option value="Computer Administration">Computer Administration</option>
        </select>
      </div>
    </div>
    <div class="form-group col-md-4">
      <div class="input-group mb-3">
          <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Dept No. : </label>
        </div>
        <select class="custom-select" name="Dept_number">
          <option selected>Choose...</option>
          <option value="1">Special Admins (1)</option>
          <option value="2">Software Engineerning (2)</option>
          <option value="3">Human Resources (3)</option>
          <option value="4">Research (4)</option>
          <option value="5">Computer Administration (5)</option>
        </select>
      </div>
    </div>
      <div class="form-group col-md-4">
        <label for="Project_Manhours" class="bmd-label-floating bmd-label-warning">Work Hours</label>
        <input type="text" class="form-control" name="Project_Manhours">
        <span class="bmd-help"></span>
      </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-3">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Project Name : </label>
        </div>
        <select class="custom-select" name="Project_name">
          <option selected>Choose...</option>
          <option value="Google Compute Engine">Google Compute Engine</option>
          <option value="Google BigSQL Management">Google BigSQL Management</option>
          <option value="HireX Beta">HireX Beta</option>
          <option value="InterviewZoom Alpha Proto">InterviewZoom Alpha Proto</option>
          <option value="GCGC Collections Info">GCGC Collections Info</option>
          <option value="ReStructSQL">ReStructSQL</option>
          <option value="CodeToCode Alpha Release">CodeToCode Alpha Release</option>
          <option value="HireX Proto Build">HireX Proto Build</option>
          <option value="Google BigChain Engine">Google BigChain Engine</option>
        </select>
      </div>
    </div>
    <div class="form-group col-md-3">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Project Number : </label>
        </div>
        <select class="custom-select" name="Project_Number">
          <option selected>Choose...</option>
          <option value="3544">Google Compute Engine</option>
          <option value="7546">Google BigSQL Management</option>
          <option value="5669">HireX Beta</option>
          <option value="6199">InterviewZoom Alpha Proto</option>
          <option value="3321">GCGC Collections Info</option>
          <option value="8854">ReStructSQL</option>
          <option value="4456">CodeToCode Alpha Release</option>
          <option value="4412">HireX Proto Build</option>
          <option value="7545">Google BigChain Engine</option>
        </select>
      </div>
    </div>
      <div class="form-group col-md-3">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Manager SSN : </label>
        </div>
        <select class="custom-select" name="Super_SSN">
          <option selected>Choose...</option>
          <option value="333433345">Joyce Smith</option>
          <option value="153445789">Jennifer Wallacia</option>
          <option value="556545624">Milinda Taylor</option>
          <option value="222566634">Hayes Smith</option>
          <option value="800000000">Gohen Zilvoski</option>
        </select>
      </div>
    </div>
    <div class="form-group col-md-3">
        <label for="Manager_Name" class="bmd-label-floating">Manager Name</label>
        <input type="text" class="form-control" name="Manager_Name">
        <span class="bmd-help"></span>
      </div>
    </div>
      <hr>
  <div class="form-group">
        <label for="Query_information" class="bmd-label-floating">Enter extra information (if required) which can make processing faster and better for us.</label><br><hr>
        <input type="hidden" name="Query_information" style="display: none;"><div id="query_editor">What Language do you speak?. </div>
  <script type="text/javascript">
    var query_editor = new ace.edit("query_editor");
    query_editor.setTheme("ace/theme/crimson_editor");
    query_editor.setFontSize(15);
    query_editor.session.setMode("ace/mode/c_cpp");
    var input_data = $('input[name="Query_information"]');
        query_editor.getSession().on("change", function () {
        input_data.val(query_editor.getSession().getValue());
    });
  </script>
        <span class="bmd-help"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
     <span>
        <button type="submit" class="btn btn-primary btn-raised btn-success btn-lg" onclick="delayload()">Submit Data</button>
      </span>
    </p>
    </div>
	</form>
  <div class="alert alert-success" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="alert-heading alert-dismissible fade show" role="alert"><i class="material-icons align-middle">https</i><%= form_check + ' ' + form_success %></h4>
  <hr><p class="mb-0"><strong><pre class="text-success"><%= 'Data Given : ' + JSON.stringify(form_data, undefined, 4) %></pre></strong></p>
</div>
<div class="spinner"></div>
</body>
</html>
